		<!style type="text/css">
			body {
				background-color: #fff;
				color: #000;
				font-size: 0.9em;
				font-family: sans-serif,helvetica;
				margin: 0;
				padding: 0;
			}
			:link {
				color: #0000FF;
			}
			:visited {
				color: #0000FF;
			}
			a:hover {
				color: #3399FF;
			}
			h1 {
				text-align: left;
				font-family: sans-serif,helvetica;
				margin: 0;
				padding: 0.6em 2em 0.4em;
				background-color: #0000FF;
				color: #ffffff;
				font-weight: normal;
				font-size: 1.75em;
				border-bottom: 2px solid #000;
			}
			h1 strong {
				font-weight: bold;
								font-family: sans-serif,helvetica;
			}
			h2 {
				font-size: 1.1em;
				font-weight: bold;
								font-family: sans-serif,helvetica;
			}
            h3 {
				font-size: 1.1em;
				font-weight: bold;
                color: #0000FF;
                font-family: sans-serif,helvetica;
			}
            
			.content {
				padding: 1em 5em;
								font-family: sans-serif,helvetica;
			}
			.content-columns {
				/* Setting relative positioning allows for 
				absolute positioning for sub-classes */
								font-family: sans-serif,helvetica;
				position: relative;
				padding-top: 1em;
			}
			.content-column-left {
				/* Value for IE/Win; will be overwritten for other browsers */
								font-family: sans-serif,helvetica;
				width: 47%;
				padding-right: 3%;
				float: left;
				padding-bottom: 2em;
			}
			.content-column-right {
				/* Values for IE/Win; will be overwritten for other browsers */
								font-family: sans-serif,helvetica;
				width: 47%;
				padding-left: 3%;
				float: left;
				padding-bottom: 2em;
			}
			.content-columns>.content-column-left, .content-columns>.content-column-right {
				/* Non-IE/Win */
			}
			img {
				border: 2px solid #fff;
				padding: 2px;
				margin: 2px;
			}
			a:hover img {
				border: 2px solid #3399FF;
			}
            /* TopNavigation Styles*/
            .topnav {
             overflow: hidden;
             background-color: #333;
             }
 
             .topnav a {
             float: left;
             display: block;
             color: #f2f2f2;
             text-align: center;
             padding: 14px 16px;
             text-decoration: none;
             font-size: 17px;
             }
 
             .topnav a:hover {
             background-color: #ddd;
             color: black;
             }
 
             .topnav a.active {
             background-color: #4CAF50;
             color: white;
             }
            /* Accordion Buttons */
            button.accordion {
                background-color: #eee;
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
            }

            button.accordion.active, button.accordion:hover {
                background-color: #ddd;
            }

            button.accordion:after {
                content: '\002B';
                color: #777;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

            button.accordion.active:after {
                content: "\2212";
            }

            div.panel {
                padding: 0 18px;
                background-color: white;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }

		<!/style>
